
.edit-div {
    position: absolute;
    height: 500px;
    width: 500px;
    right: 50%;
    transform:translateX(-50%);
    background-color: transparent;
}

#edit-dialog {
    position: absolute;
    height: 500px;
    width: 500px;
}

.edit-title {
    height: 40px;
    width: 200px;
    background-color: aliceblue;
}

.edit-description {
    height: 40px;
    width: 200px;
}

.edit-due-date {
    height: 40px;
    width: 200px;
}

.edit-priority {
    height: 40px;
    width: 200px;
}